


@font-face {
    font-family: PoppinsRegular;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}




