


#intro{
    width: 100%;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 32px;
    background-image: url(/assets/images/laptop.png);
    background-repeat: no-repeat;
    background-position: center 80%;
}

.intro{
 
    &__inner{
        height: 568px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;

        &--price{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
            &-first{
                font-family: PoppinsBold;
                font-size: 43px;
                color: rgb(255, 255, 255);
            }
            &-second{
                font-family: PoppinsBold;
                font-size: 27px;
                color: rgb(255, 255, 255);
                position: relative;
            }
            .line-red{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
            }
        }
    }

    &__title{
        font-size: 42px;
        font-family: PoppinsBold;
        background: linear-gradient(135deg, #878787 0%, #fefefe 100%);
        background-clip: text;
        color: transparent;
        text-align: center;
        margin-bottom: 16px;
    }
    &__text{
        font-size: 20px;
        background: linear-gradient(135deg, #878787 0%, #fefefe 100%);
        background-clip: text;
        color: transparent;
        text-align: center;
    }

    &__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
    }
}



@media only screen and (max-width: 600px) {
    .intro{
 
        &__inner{
            height: 568px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 16px;
    
            &--price{
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 20px;
                &-first{
                    font-family: PoppinsBold;
                    font-size: 43px;
                    color: rgb(255, 255, 255);
                }
                &-second{
                    font-family: PoppinsBold;
                    font-size: 27px;
                    color: rgb(255, 255, 255);
                    position: relative;
                }
                .line-red{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                }
            }
        }
    
        &__title{
            font-size: 32px;
            font-family: PoppinsBold;
            background: linear-gradient(135deg, #878787 0%, #fefefe 100%);
            background-clip: text;
            color: transparent;
            text-align: center;
            margin-bottom: 16px;
        }
        &__text{
            font-size: 16px;
            background: linear-gradient(135deg, #878787 0%, #fefefe 100%);
            background-clip: text;
            color: transparent;
            text-align: center;
        }
    
        &__bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 5px;
        }
    }
}